.main {
  /* position:relative; */
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  gap: 3.0%;
  background: url(./ServiceDetails.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

.main1 {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  font-size: 'Montserrat', sans-serif;
}

.leftBar {
  height: 100%;
  width: 7.10vw;
  top: 0px;
  border-radius: 0px;
  background: #F2F3FA;
}

.info {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: left;
  width: 405px;
  left: 10%;
  top: 20%;

}

.info h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 0;
}

.price {
  height: 40px;
  width: 103.2785873413086px;
  background: #C7EDD4;
  border-radius: 10px;
  align-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  border: none;
}

.info p {
  font-size: 16px;
  font-weight: 300;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 13px;
  margin-bottom: 0;
}

.laptop {
  height: auto;
  max-width: 330px;
  padding-top: 50px;
}

.Request {
  width: 175px;
  height: 51px;
  background: #3F4AAF;
  border-radius: 10px;
  font-family: 'Montserrat', sans-serif;
  align-content: center;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  color: white;
  border: none;
  margin-top: 12px;
}

.Request:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.rightBar {
  position: absolute;
  width: 25.93vw;
  right: 0%;
  top: 0%;
  height: 100%;
  background: #F2F3FA;
}

.centerBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 68px;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;

}

.xx {
  overflow: hidden;
}

form {
  width: 534px;
  height: 493px;
  background: #FFFFFF;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
  font-family: 'Montserrat', sans-serif;
  align-items: left;
  margin-left: 25px;
}

form h1 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}

form p {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 0px;
  width: 504px;
}

input[type=text] {
  width: 464px;
  height: 12px;
  background: #F2F3FA;
  border-radius: 10px;
  border: none;
  padding: 16px 20px;
}

form button {
  width: 111px;
  height: 36px;
  left: 263px;
  top: 496px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;
}

form button:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.buttons {
  display: flex;
  gap: 11px;
  margin-top: 16px;
  margin-left: 51%;
  width: 233px;
  margin-right: 0%;
}

input[type=email] {
  width: 464px;
  height: 12px;
  background: #F2F3FA;
  border-radius: 10px;
  border: none;
  padding: 16px 20px;
}

input[type=tel] {
  width: 464px;
  height: 12px;
  background: #F2F3FA;
  border-radius: 10px;
  border: none;
  padding: 16px 20px;
}

textarea:focus,
input:focus {
  outline: none;
}

textarea {
  width: 464px;
  height: 101px;
  background: #F2F3FA;
  border-radius: 10px;
  border: none;
  padding: 12px 20px;
}

::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}

.arrow {
  width: 23px;
  height: 23px;
}

.sideBar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 7.10vw;
  align-items: center;

}

.logOut {
  height: 21px;
  width: 21px;
}

.home {
  height: 20px;
  width: 21px;
}

.stats {
  height: 24px;
  width: 22px;
}

.clarity {
  height: 28px;
  width: 28px;
}

.MuiPaper-root {
  border-radius: 15px;
}

.projectBox {
  display: flex;
  flex-direction: column;
  gap: 9px;
  margin-bottom: 28px;
}

.projectBar {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  gap: 45px;
  width: auto;
  height: 50px;
  background: #F2F3FA;
  backdrop-filter: blur(4px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 15px;
  padding: 15px 24px;
  align-items: center;
  justify-content: center;
}

.projectName {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 0;
  font-weight: 400;
}

.verticalBar {
  width: 45px;
  height:1px;
  background:rgba(63, 74, 175, 0.11);
  transform: rotate(90deg);
}

.memberName {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
  color: #8D8D8D;
}
.memberName img{
  width: 25px;
height: 22px;
padding-top: 9px;
}
.MemberChat {
  display: flex;
  gap: 27px;
  align-items: center;
  justify-content: center;
}

.status {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */
  text-align: center;
  color: #37B20B;
}

.chat {
  width: 78px;
  height: 24px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 8px;
  line-height: 10px;
  /* identical to box height */
  color: #FFFFFF;
  background: #3F4AAF;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: none;
  margin-top: 14px;
}
.chat:active {
  box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

.Bar {
  width: 244px;
  height: 6px;
  background: #37B30B;
  margin-top: 13px;
}

.Box {
  display: flex;
  flex-direction: column;
  padding-left: 45px;
}

.date {
  font-family: "Montserrat";
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: center;
  width: 60px;
  height: 33px;
  color: #000000;
}

.date p {
  margin: 5px 0px;
}

.intro {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 34px;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0;
}

.serviceTab {
  height: 100px;
  width: 220px;
  border-radius: 16px;
  backdrop-filter: blur(4px);
  border-radius: 16px;
  padding: 34px 16px 18px 35px;
  margin-top: 11px;
}

.serviceBox {
  display: grid;
  flex-wrap: wrap;
  gap: 25px 25px;
  align-items: center;
  justify-content: left;
  grid-template-columns: auto auto auto;
}

.serviceBox p {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  width: 183px;
  margin: 0;
}

.serviceBox a {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #2D2D2D;
}

.customerPrice {
  width: 51.64px;
  height: 20px;
  background: #C7EDD4;
  border-radius: 10px;
  border: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 600;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  margin-left: 102px;
}

.more {
  width: 46px;
  height: 134px;
  background: #F2F3FA;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 13px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

#it {
  background: #F8EBFF;
}

#security {
  background: #FFEDE6;
}